.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.weight-image {
   display: inline;
}
.info{
  padding: 5rem;
  margin: 100px;
}
